#root {
  margin: 0 auto;
  text-align: center;
}

.titulo {
  padding: 6px;
  border: solid 2px black;
  border-radius: 5px;

}

.desc {
  padding: 6px;
  border: solid 2px black;
  border-radius: 5px;
}
